<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-04-11T22:48:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/IPG/coursera Xcode/MaskieNF/MaskieNF.xcodeproj</string>
</dict>
</plist>
